# Mongo username and password needed for the MongoDB database.
MONGO_USERNAME=changeme
MONGO_PASSWORD=changeme
MONGO_PORT=27017

# Frontend port usually should be 80 or 443
FRONTEND_PORT=changeme

# If unsure, just use 3000 or any free port above 1024
BACKEND_PORT=changeme

# Serves at the initial directory for the app to display

FILECHARTER_ROOT_DIR=/

# This is used for docker-compose for to bind mount the host filesystem.
FILES_DIR=/Users/your-user
